/*------------------- general ---------------------*/
*{ margin:0; padding:0; 
	font-family: Pingfang SC, Lantinghei SC,Open Sans,Arial,Hiragino Sans GB,Microsoft YaHei,微软雅黑,STHeiti,WenQuanYi Micro Hei,SimSun,sans-serif,"宋体"; 
	font-size:12px;}
li{ list-style:none;}
img{ border:none 0;}
body{ background-image:url(images/bg.png);}
.clear{
	clear:both;
}
/*header*/
.header{ overflow:hidden;}
.headerbox{ width:980px; margin:10px auto; }
.logo{ float:left; display:block; margin-left:0px;}
.phone{ overflow:hidden; padding-top:10px; float:left;}
.phone img{ float:left; display:block;}
.phone p{ float:left; margin-left:5px; font-size:14px; font-family:"微软雅黑"; color:#a1653a;}
.header_rt{ float:right; color:#8a8a8a;height: 50px}
.header_rt a{ color:#626262; margin:0px 10px; line-height:70px}
/*nav*/
.nav {background-color:#383A3F; margin-top:5px; width: 100%; height: 40px}
.navbox{width:980px; margin:0 auto; }
.navbox li{ float:left; margin:0 40px; line-height:40px;}
.navbox a{
	font-size:14px;color:white;
	opacity: .8;
	transition:opacity 0.2s ease 0s;
	display: block;
}
.nav .index{color:#fff;}
.navbox a:hover{color:#fff; opacity:1;  text-decoration:none;}

/*------------------- index page ---------------------*/
/*bannerbox*/
.bannerbox{position:relative;overflow:hidden;width:980px;height:250px;margin:0 auto;}
.banner{left:0;top:0; margin: 0 auto;}
.banner img{ float:left; }
.Arrow a{position:absolute;width:30px;height:30px;top:110px; cursor:pointer;}
.leftArrow{float:left;left:0;}
.rightArrow{float:right;right:0;}
.num ul{ overflow:hidden; position:absolute;bottom:2px;left:430px;}
.num li{width:8px;height:8px; background-color:#999; float:left; margin-right:10px;}
.num .blueLi{ background-color:#06C;}
/*mainbox*/
.mainbox{ width:980px; margin:15px auto; margin-bottom:50px;}
/*mainbox_top*/
.mainbox_top{ overflow:hidden;}
.column{ width:300px; padding:20px; margin-left:15px; float:left; background-color:white;  border:1px solid #e6e6e6; overflow:hidden;}
.login{ width:350px; padding:20px; float:left; background-color:white; border:1px solid #e6e6e6; overflow:hidden;}
.login_F{ margin-left:5px;width:230px; border:1px solid #e6e6e6; }
.login span{color:#999;}
.login_M{ margin-left:5px;width:100px; border:1px solid #e6e6e6; }
.login dl{ margin-top: 15px; margin-bottom:0;}
.login dd{ margin:6px auto;}
.login_bt{ padding:5px 15px; background-color:#F68657; color:white; font-size:12px; margin-left:100px; margin-top:10px;}
.column_title{ overflow:hidden; margin-top:0; margin-bottom:0;}
.column_title img{ float:left; display:block;}
.column_title div{ float:left;  font-size:18px; color:#555; margin-left:15px; margin-top:0px; position:relative;}
.column_title span{ color:#999;font-size:10px; position:relative; }
.column p{ padding:0 20px; margin-top:10px; margin-bottom:0; }
.column p a,.column li a{ font-size:12px; color:white;  line-height:60px; text-decoration:none;}
.column .query1{ background-image:url(../images/query1.png); background-repeat:no-repeat;}
.column .query2{ background-image:url(../images/query2.png); background-repeat:no-repeat;}
.column .query1 a{color: #fff;}
.column .query2 a{color: #fff;}
.column ul{ float:left; margin-right:10px; margin-bottom:0;}
.column li{ background-color:#F68657; padding:0 10px; margin-top:10px;margin-left: 10px}
.column li img{ margin-right:5px;}
/*mainbox_bt*/
.mainbox_bt{ background-color:white; width:980px; height:180px; margin-top:15px; border:1px solid #e6e6e6;}
.mainbox_bt .title{ border-bottom:2px solid #F68657; height:30px; overflow:hidden;}
.mainbox_bt .title p{ float:left; padding:0 20px; line-height:30px; cursor:pointer;}
.mainbox_bt .title_1{ background-color:#F68657; color:white;}
.mainbox_bt .main_1{ overflow:hidden;}
.mainbox_bt .main_1 ul{ float:left; margin:15px; width:450px;}
.mainbox_bt .main_1 li{ overflow:hidden; background-image:url(images/arrow.png); background-position:left center; background-repeat:no-repeat; padding-left:10px; line-height:22px;}
.mainbox_bt .main_1 a{color:#333; float:left;}
.mainbox_bt .main_1 a:hover{color:red;}
.mainbox_bt .main_1 span{color:#666; float:right;}
.mainbox_bt .hid{ display:none;}
#main_2 ul{ width:940px;}
/*footer*/
.footer{ background-color:white;}
.footerbox{ width:980px; margin:0 auto;color:#636363; text-align:center;}
.footerbox ul{ overflow:hidden; margin-left:300px; padding-top:15px;}
.footerbox li{ float:left;}
.footerbox a{color:#626262; margin:0 5px;}
.footerbox div{ padding-bottom:10px;}
/*mainbox*/
.mainbox{ width:980px; margin:15px auto; overflow:hidden;}
.add{ color:#999;}
.add a{ color:#999;}

/*------------------- about page ---------------------*/
/*left*/
.mainbox_lf{ float:left;}
.contact{background-color:white; /*border:1px solid #e6e6e6;*//*  width:250px;  */padding:10px; margin-bottom:15px;}
.about_title_lf{ overflow:hidden; margin-top:0; margin-bottom:10px;}
.about_title_lf img{ float:left; display:block;}
.about_title_lf div{ float:left;  font-size:18px; color:#F68657; margin-left:15px; margin-top:0px; position:relative;}
.about_title_lf span{ font-size:10px; position:absolute; left:0; top:24px;}
.about_title_icon{width: 30px}
.color{ color:#c9c0c5;}
.color span{ color:black;}
.more{ text-align:center; background-color:#CCC; color:#555; padding:5px 10px; margin-left:60px;}
/*right*/
.mainbox_rt{ float:right; width:720px; background-color:white; border:1px solid #e6e6e6; padding:20px;}
.mainbox_rt h3{font-size:18px; color:#555; margin:0; border-bottom:2px solid #F68657;}
.mainbox_rt h3 img{ margin-right:10px;}
.mainbox_rt p{ text-indent:24px; margin-top:20px;}
.about_article_figure{margin-top: 20px; width: 600px}

/*------------------- clause page ---------------------*/
/*main_bottom*/
.clause_title_icon{width: 30px}


/*------------------- finance page ---------------------*/
/*main_bottom*/
.main_bottom{ overflow:hidden; margin-top:15px;}
.title_lf{ overflow:hidden; margin-top:0; margin-bottom:0;}
.title_lf img{ float:left; display:block;}
.title_lf div{ float:left; font-family:"微软雅黑"; font-size:22px; color:#e0a873; margin-left:15px; margin-top:5px; position:relative;}
.title_lf span{ font-size:10px; position:absolute; left:0; top:24px;}
.new{ float:left; background-color:white; padding:20px; width:480px; border:1px solid #e6e6e6;}
.new ul{ margin-top:20px;}
.new li{ overflow:hidden; background-image:url(images/arrow.png); background-repeat:no-repeat; background-position:left center; padding-left:10px; line-height:34px;}
.new span{ float:right;}
.new a{ color:#555;}
.rt{ float:right;}

/*------------------- finane2 page ---------------------*/
/*right*/
.mainbox_rt{ background-color:white; border:1px solid #e6e6e6; padding:20px; margin-bottom:15px;}
.mainbox_rt h3{ font-size:18px; color:#555; margin:0;}
.mainbox_rt h3 img{ margin-right:10px;}
.mainbox_rt p{ text-indent:24px; margin-bottom:10px;}
.map{ margin-top:20px;}
.mainbox_rt ul{ margin-top:20px;}
.mainbox_rt li{ overflow:hidden; background-image:url(images/arrow.png); background-repeat:no-repeat; background-position:left center; padding-left:10px; line-height:34px;}
.mainbox_rt span{ float:right;}
.mainbox_rt a{ color:#555;}
.mainbox_rt h4{ font-size:14px; color:#e0a873; font-weight:bold; background-image:url(images/zhuanhu1.jpg); background-repeat:no-repeat; background-position:left center; line-height:38px; padding-left:13px;}
.list{ background-image:url(images/zhuanhu2.png); background-repeat:no-repeat; margin:0 30px; padding:20px;}
.list .title{ color:#e0a873;}
.list1{ background-image:url(images/zhuanhu3.png); background-repeat:no-repeat; margin:0 30px; padding:20px;}
.list2{ background-image:url(images/zhuanhu4.png); background-repeat:no-repeat; margin:0 30px; padding:20px;}
.list3{ background-image:url(images/zhuanhu5.png); background-repeat:no-repeat; margin:0 30px; padding:20px;}


/*------------------- info page ---------------------*/
/*main_top*/
.main_top{ background-color:white; border:1px solid #e6e6e6;}
.top_tl{ overflow:hidden; border-bottom:1px solid #e6e6e6; height:60px;}
.top_tl h2{ float:left; font-family:"微软雅黑"; font-size:16px; line-height:59px; font-weight:bold; width:135px; text-align:center; margin-top:0; margin-bottom:0; cursor:pointer; border-bottom:1px solid #e6e6e6; border-right:1px solid #e6e6e6;}
.active{ color:#e0a873;}
/*infobox*/
.infobox{ overflow:hidden;}
.infobox img{ display:block; float:left;}
.info_tx{ float:right; padding:20px;}
.info_tx h3{ line-height:50px; width:135px; text-align:center; background-color:#e0a873; margin:0;}
.info_tx h3 a{ color:white; font-family:"微软雅黑"; font-size:18px; font-weight:bold;}
.info_tx ul{ margin:15px 0;}
.info_tx li{ background-image:url(images/shu.png); background-repeat:no-repeat; background-position:left center;}
.info_tx li a{ color:#555; line-height:30px; padding-left:26px;}
.info_tx li a:hover{ color:red;}
.info_tx li span{ color:#999; float:right;}
.more{ background-color:#ccc; width:80px; line-height:30px; text-align:center; margin-left:370px; margin-bottom:0;}
.more a{ color:#555; font-weight:bold;}
.hid{ display:none;}
/*main_bottom*/
.main_bottom{ overflow:hidden; margin-top:15px;}
.new{ float:left; background-color:white; padding:20px; width:480px;}
.new h2{ font-family:"微软雅黑"; font-size:16px; font-weight:bold; color:#e0a873; margin:0; margin-bottom:10px;}
.new li{ overflow:hidden; background-image:url(images/arrow.png); background-repeat:no-repeat; background-position:left center; padding-left:10px; line-height:34px;}
.new span{ float:right;}
.new a{ color:#555;}
.rt{ float:right;}


/*------------------- product page ---------------------*/

/*mainbox*/
.mainbox{ width:980px; margin:15px auto; overflow:hidden;}
/*left*/
.mainbox_lf{ float:left; background-color:white; border:1px solid #e6e6e6; width:230px; padding:20px;}
.title_lf{ overflow:hidden; margin-top:0; margin-bottom:0;}
.title_lf img{ float:left; display:block;}
.title_lf div{ float:left; font-family:"微软雅黑"; font-size:22px; color:#e0a873; margin-left:15px; margin-top:5px; position:relative;}
.title_lf span{ font-size:10px; position:absolute; left:0; top:24px;}
.mainbox_lf h2{ font-family:"微软雅黑"; font-size:16px; line-height:22px;}
.mainbox_lf a{ background-color:#e6e6e6; display:inline-block; line-height:28px; width:190px; text-align:center; margin-bottom:10px; color:#555; font-family:"微软雅黑"; font-size:14px;}
.mainbox_lf .active{ background-color:#e0a873; color:white;}
/*right*/
.mainbox_rt{ float:right; width:740px;}
/*top*/
.rt_top{ overflow:hidden; padding:20px; background-color:white; border:1px solid #e6e6e6;}
.rt_top img{ float:left; display:block;}
.main_top{ float:left;}
.main_top h3{ font-size:16px; font-weight:bold; color:#555; font-family:"微软雅黑"; }
.main_top h3 span{ font-size:16px; font-weight:bold; color:#e0a873; font-family:"微软雅黑";}
.table_top{ overflow:hidden;}
.table_top ul{ float:left; margin-right:50px;}
.table_top li{ line-height:22px; color:#555;}
.top_bt{ overflow:hidden; margin-top:10px; margin-left:30px;}
.top_bt li{ float:left; background-color:#e0a873; width:140px; margin-right:20px;}
.top_bt img{ margin:6px 10px;}
.top_bt a{ font-size:18px; font-family:"微软雅黑"; font-weight:bold; color:white; line-height:43px;}
/*bottom*/
.rt_bottom{ overflow:hidden; padding:20px; background-color:white; border:1px solid #e6e6e6; margin-top:15px;}
.rt_bottom h2{ margin-top:0; margin-bottom:0; font-family:"微软雅黑"; line-height:28px; font-size:16px;}
.worth{ float:left; width:450px;}
.worth_tl{ overflow:hidden;}
.worth_tl h2{ float:left; margin-right:20px; cursor:pointer;}
.bold{ font-weight:bold;}
.worth_hi{ overflow:hidden;}
.worth_hi ul{ overflow:hidden; margin-bottom:0;}
.worth_hi li{ float:left; width:100px; text-align:center; line-height:32px;}
.background{ background-color:#f5f5f5;}
.history{ float:right; width:200px; color:#555;}
.history h2{ font-weight:bold; padding-left:15px;}
.history dt{ padding-left:15px; line-height:30px;}
.red{ color:#e0a873;}
.history dd{ line-height:30px; border-bottom:1px solid #ddd;}
.history b{ float:right;}

.main_top.maintop_service{
	width:980px;
	padding:10px 0 10px 10px;

}
.maintop_service .column{
	margin-left: 10px;
	margin-right: 7px;
	min-height: 195px;
}